{% extends "layout.html.twig" %}

{% block content %}

<form action="{{ path('add_task_post_form') }}" method="post">

    {% if errors is defined %}
        {% for error in errors %}
            <div class="notification is-danger">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}


    <div class="field">
        <div class="control">
            <input class="input" type="text" placeholder="Title" name="title">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input" type="text" placeholder="Description" name="description">
        </div>
    </div>
    <input type="submit" class="button is-info" value="Add">
</form>

{% endblock %}